<template name="login-template">  
<div class="container">
       <h1>Login to see more info</h1>
       <p>{{> loginButtons}}</p>
       <p>
         {{#if currentUser}}
           You are now logged in.
         {{/if}}
       </p>
    </div>
</template> 

<template name="project-list-template">  
<div class="container">
  <h2>ORESoftware specializes in creating networked business applications for collaborative industries with the latest and greatest web and mobile technologies.</h2>
  <p></p>
  <h1>Projects</h1>
  <p></p>
  <h2>Collaborative Industries:</h2>
      <ul>
  <li> <a href="http://SportExchange.io">SportExchange.io</a></li>
  <li><a href="http://globalRFP.com">globalRFP.com</a></li>
  <li><a href="http://apartments.com">apartments</a></li>
</ul> 
    </div>
</template>

